select, button { box-sizing: border-box }

button {
    display: block;
    position: relative;
    /* margin: 10px; */
    padding: 5px;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    /* background-color: #0000ff; */
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    white-space: nowrap;
    user-select: none;
}

.hideme {
    position: absolute;
    left: -9999px;
}

select, input + label {
    display: block;
    position: relative;
    /* margin: 10px; */
    padding: 5px;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    background-color: #ff0000;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    white-space: nowrap;
    user-select: none;
    transition: background-color .2s, box-shadow .2s;
}

select, button.add-output-channel-select {
    display: block;
    position: relative;
    /* margin: 10px; */
    padding: 5px;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    background-color: #0000ff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    white-space: nowrap;
    user-select: none;
    transition: background-color .2s, box-shadow .2s;
}

button.add-output-channel-select {
    float: right;
}

input:checked + label {
    display: block;
    position: relative;
    /* margin: 10px; */
    padding: 5px;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    background-color: #00ff00;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    white-space: nowrap;
    user-select: none;
    transition: background-color .2s, box-shadow .2s;
}

.filenameBorder {
    /* display: inline-flex; */
    display: inline-block;
    border: 2px solid blue;
    border-radius: 10px;
    clear: both;
    /* margin: 10px; */
    padding: 5px;
}

.inline-block {
    display: inline-block;
}

